# Verification

## Routing

```text
show ip eigrp neighbors

show ip route
```
## SSH
```text
show ssh
```
## ACL
```text
show access-lists
```
## Login
```text
show users
```
## Connectivity
```text
ping
traceroute
```